$color_main_text: #000000;
$color_country_shadow: #bbbbbb;
$color_bg: #ffffff;
$color_header: #585f5f;
$color_header_bg: #5f9ea0;
$color_header_bg_item: #d7e7e7;
$color_header_bg_item_hover: #e7f1f1;
