.locale_menu {
  &--select {
    max-width: 100%;
    margin: 0;
    padding: 0.6em 0.3em;
    box-sizing: border-box;
    line-height: 1.3;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 0.5em;

    &:hover,
    &:focus {
      background-color: #ebebeb;
      cursor: pointer;
    }
  }

  &--item {
    background-color: #fff;
  }
}
